{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg p-3 mb-5 rounded" style="background-color: #333;">
            <div class="card-body">
                <h2 class="card-title text-center text-white">Login</h2>
                <form method="post" action="{{ url_for('login') }}" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.login.label("Username or Email", class="form-label text-white") }}
                        {{ form.login(class="form-control", size=20) }}
                        {% for error in form.login.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label(class="form-label text-white") }}
                        {{ form.password(class="form-control", size=20) }}
                        {% for error in form.password.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="d-grid gap-2">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center">
            <span class="text-white">New to MTG Tracker?</span> <a href="{{ url_for('register') }}" class="text-light">Register here</a>
        </div>
    </div>
</div>
{% endblock %}
